$color-background-header-and-footer: #335576;
$color-background-main: #f7f7f7;
$color-background-alt: #fafafa;

$color-font-primary: #393939;
$color-font-secondary: #fff;

$color-main-blue: #335576;
$color-nitro: #5bacc3;
$color-label: #afafaf;

$color-tagline: #a396bb;
$color-button-main: #a5bfc8;
$color-button-secondary: #abc8c3;
$color-background: #faf6ec;